<head>
  <script src="Chart.js"></script>
  <script type="text/javascript">
  mixpanel.track("Landing Page Loaded")
  </script>

</head>


<h1>Charts Page</h1>
<h3>Page loads in the past week</h3>
<canvas id="canvas" width="800px;" height="400"></canvas>

<script>
$.getJSON("/mixpanel", function(mixpanelData) {

  var sortedValues = mixpanelData["data"]["series"].map(function(seriesLabel) { 
    return mixpanelData["data"]["values"]["undefined"][seriesLabel]; 
  })



  var values = $.map( mixpanelData["data"]["values"]["undefined"], function( value, key ) {
    return value;
  });

  var keys = $.map(mixpanelData["data"]["series"], function( key ) {
    return key;
  });



  var barChartData = {

    labels : keys,
    datasets : [
    {
     fillColor : "rgba(100,100,250,0.5)",
     strokeColor : "rgba(100,100,250,1)",
     data : sortedValues
   },
   ]};
   var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(barChartData);
 });
</script>


